html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #001f3f;
  font-family: "Lato", sans-serif;
  color: #77ffdd;
  font-size: 1.6rem;
}

button {
  color: #77ffdd;
  padding: 0;
  border: 0;
  background: none;
  font-weight: 600;
  font-family: Lato;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 375px;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 976px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .header {
    padding: 40px;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 3.8rem;
  }
}

.content {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .content {
    max-width: 976px;
  }
}
.content__title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .content__title {
    font-size: 5rem;
    line-height: 60px;
    margin-bottom: 135px;
  }
}

.project-list {
  list-style-type: none;
  padding: 0;
}
.project-list__item {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .project-list__item:nth-child(n+2) {
    display: none;
  }
}

.project {
  position: relative;
}
.project p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 992px) {
  .project p {
    font-size: 5rem;
    line-height: 5.2rem;
  }
}
.project__video {
  object-fit: cover;
  width: 100%;
  height: 180px;
}
@media (min-width: 1200px) {
  .project__video {
    width: 100%;
    height: 500px;
  }
}
.project__button {
  font-size: 1.4rem;
  font-style: normal;
  border: 2px solid #77ffdd;
  padding: 8px 12px;
  margin: 15px 5px 0 0;
}
@media (min-width: 992px) {
  .project__button {
    margin-top: 30px;
    display: block;
    font-size: 3rem;
    font-style: normal;
    border: 2px solid #77ffdd;
    padding: 20px 24px;
  }
  .project__button:hover {
    background: #77ffdd;
    color: #001f3f;
    cursor: pointer;
  }
}
.project__video--title {
  position: absolute;
  z-index: 2;
  margin: -35px 0 0 -5px;
  font-size: 4rem;
}
@media (min-width: 1200px) {
  .project__video--title {
    font-size: 14rem;
    margin: -110px 0 0 -10px;
  }
}
.project__video--overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  height: 180px;
  width: 100%;
}
@media (min-width: 1200px) {
  .project__video--overlay {
    height: 500px;
  }
}
.project__description {
  margin: 50px 0 0 0;
}
@media (min-width: 1200px) {
  .project__description {
    margin-top: 100px;
    font-size: 5rem;
    line-height: 6rem;
  }
}
.project__more {
  display: none;
  margin-top: 0;
}
@media (min-width: 992px) {
  .project__more {
    margin-top: 0;
    display: block;
  }
}

.navigation ol {
  display: flex;
  justify-content: space-evenly;
}
.navigation__item a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
@media (min-width: 992px) {
  .navigation__item a {
    font-size: 2.4rem;
  }
}

.project-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .project-navigation {
    display: block;
    list-style-type: none;
    position: sticky;
    top: 25.5%;
    margin-left: 100%;
    margin-right: -25%;
  }
  .project-navigation__header {
    font-weight: 600;
    font-size: 2rem;
  }
}
.project-navigation__item {
  margin-bottom: 5px;
}
.project-navigation__item:last-child {
  margin-bottom: 0;
}
.project-navigation__button {
  color: #3db496;
  line-height: 22px;
  padding: 0;
  border: 0;
  background: none;
  font-weight: 400;
  font-size: 1.6rem;
  background-image: linear-gradient(180deg, transparent 90%, #77ffdd 0);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease;
}
.project-navigation__button:hover {
  background-size: 100% 100%;
  color: #77ffdd;
}

.is-visible {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
